[Desktop Entry]
Type=Application
TryExec=/home/sagecat/.local/bin/alacritty
Exec=/home/sagecat/.local/bin/alacritty
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=Alacritty with one-shot workspace recovery
StartupNotify=true
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=/home/sagecat/.local/bin/alacritty
